/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  min-height: 100vh;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 0px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.secao-cadastro{
  width: 50%;
  height: 80vh;
  border-right: 1px solid rgba(139, 138, 138, 0.774);
}
.secao-cadastro > form{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secao-cadastro > form > button{
  margin: 15px;
}


.telefones_extras > input{
  margin-left: 64px;
  display: flex;
  flex-direction: column;
}

.secao-pesquisa{
  border-left: 1px solid rgba(139, 138, 138, 0.774);
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select{
  width: 400px;
}
